.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(239, 239, 239);
    margin-bottom: 20px;
    position: fixed;
    background-color: white;
    top:0;
    left:0;
    right:0;
    height:50px;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.middle-section {
    flex: 1;
    margin: 0 40px 0 70px;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    border: 1px solid rgb(198, 198, 198);
    font-family: Roboto, Arial;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 60px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(198, 198, 198);
    margin-left: -1px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
}

.mic-icon {
    height: 24px;
    margin-top: 4px;
}

.menu-icon {
    height: 24px;
    margin: 0 24px;
}

.youtube-logo {
    height: 20px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.notifications-icon-container {
  position: relative;
}
.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  border: 1px solid white;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.youtube-apps {
  height: 24px;
}

.upload-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.channel {
    height: 32px;
    border-radius: 16px;
}