.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 24px;
}
.thumbnail {
    width: 100%;
    margin-bottom: 12px;
}
.thumbnail-row {
    position: relative;
    z-index: -1;
}
.duration-box {
    font-family: Roboto , Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    position:absolute;
   background-color: black;
   color:white;
   bottom:22px;
   right:8px;
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-title {
    margin-top:0;
    font-size:14px;
    font-weight: 500;
    margin-bottom:12px;
}
.video-author , .video-stats {
    font-size:12px;
    color:rgb(96, 96, 96);
    
}
.video-author {
    margin-bottom:4px;
}
.channel-picture {
    width: 50px;
    vertical-align: top;
}
.channel-icon {
    width: 40px;
    border-radius: 50%;
} 
.video-info {
    width: 100%;
}

