body{
    margin:0;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#input-el{
    background-color: white;
    border:1px solid green;
    border-radius: 2px;
    width: 100% ;
    box-sizing: border-box;
    padding: 10px ;
    margin-bottom:4px;
    font-weight:bold ;
}
#save-btn,#tab-btn{
    background-color: green;
    color:white;
    border:none;
    padding: 8px 20px;
    font-weight:bold ;
}
#delete-btn{
    background-color: white;
    color:green;
    border:1px solid green;
    padding: 8px 20px;
    font-weight:bold ;
}
ul,il,a{
    padding-left: 0;
    line-height: 25px;;
    list-style: none;
    color:green;
}