body {
    font-size: 24px;
    font-weight: bold;
    background-image: url("poker-table.avif");
    background-size: cover ;
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 {
    color: goldenrod;
    text-shadow: 0 0 10px rgb(3, 181, 18);
}
#message-el{
    font-style: italic;
}
p {
    color: white;
    text-shadow: 0 0 10px rgb(3, 181, 18);
}
button {
    width: 150px;
    padding: 7px 0;
    font-weight: bold;
    border: none;
    border-radius:2px;
    background-color: goldenrod;
    color: #016f32;
    text-shadow: 0 0 4px rgb(3, 149, 15);
    font-size: 15px;
}