p {
    font-family: Montserrat;
    margin:0;
    padding:0;
    text-align:center;
}
.heading {
    font-size:48px;
    font-weight:600;
    margin-bottom:20px;
}
.text {
    font-size:24px;
    font-weight:400;
}
.delivery {
    text-decoration: underline;
} 
