.side-bar {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    background-color: white;
    width: 76px;
    z-index: 1;
}
.sidebar-link {
    background-color: rgb(255, 255, 255);
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sidebar-link:hover {
    background-color: rgb(240, 240, 240);
}
.sidebar-link img {
    height: 24px;
}
.sidebar-link img {
    height: 24px;
}.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}